/* === Charte Graphique CSS === */

/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF; /* Fond de l’application */
  color: #333333; /* Texte foncé par défaut */
}

nav .material-symbols-outlined {
  font-size: 40px;
  color: #333333;
  transition: color 0.2s ease;
  cursor: pointer;
}

nav .material-symbols-outlined:hover {
  color: #188794; /* couleur au survol (bleu ici) */
}

/* Menus */
.menu-clair {
  background-color: #FCFCFC; /* Fond des menus clairs */
  color: #333333;
}

.menu-fonce {
  background-color: #676767; /* Fond des menus foncés */
  color: #FFFFFF;
}

/* Liens, boutons ou éléments interactifs */
.btn,
a {
  background-color: #167782; /* Couleur principale */
  color: #FFFFFF;
  transition: background-color 0.3s ease;
}

.btn:hover,
a:hover {
  background-color: #188794; /* Couleur hover */
}
